.line-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
  margin-left: 106px;
  width: 980px;
  height: 58px;
  border-bottom: 1px solid#E0E0E0;
}

.line-content .delete-transaction:hover {
  cursor: pointer;
}

.line-content .edit-transaction:hover {
  cursor: pointer;
}
