.container-main {
  max-width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #05ede3 0%, #645ffb 100%);
}

header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .dindin {
  margin-left: 100px;
  margin-top: 30px;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-top: 30px;
}

.profile-container h1 {
  color: #ffffff;
  text-align: center;
  font: 700 14px "Rubik", sans-serif;
  margin-right: 16px;
}

.profile-container .img-logout:hover {
  cursor: pointer;
}

.main-content {
  width: 100%;
  height: calc(100% - 120px);
  border-radius: 60px 60px 0px 0px;
  background: #fff;
  padding-top: 55px;
}

.filter {
  width: 80px;
  height: 30px;
  margin-left: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
}

.filter p {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 26px;
  margin-left: 106px;
  width: 964px;
  height: 58px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
}

.table .table-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.table .table-header span {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.table .table-header .table-header-title1 img {
  margin-left: 3px;
  margin-right: 93px;
}

.table-header-title1 {
  margin-left: 27.35px;
}

.table-header-title2 {
  margin-right: 29px;
}

.table-header-title3 {
  width: 255px;
  text-align: center;
  margin-right: 14px;
}

.table-header-title4 {
  width: 118px;
  text-align: center;
  margin-right: 65px;
}

.table-header-title5 {
  width: 85px;
  text-align: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 1110px;
  top: 205px;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: center;
  text-align: justify;
  width: 236px;
  height: 196px;
  margin: 26px 33px 32px 33px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
}

.resume h1 {
  color: #2f2f2f;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.resume-in,
.resume-out,
.resume-balance {
  width: 170px;
  height: 17px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 189px;
  height: 1px;
  background-color: #eaeaea;
}

.resume-in h2,
.resume-out h2 {
  color: #2f2f2f;
  font-size: 13px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.resume-in h3 {
  color: #645ffb;
  font-size: 13px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.resume-out h3 {
  color: #fa8c10;
  font-size: 13px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.resume-balance h2 {
  color: #2f2f2f;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.resume-balance h3 {
  color: #3a9ff1;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.btn-add-transaction {
  width: 236px;
  height: 46px;
  border-radius: 5px;
  background: #7978d9;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.right-side button:hover {
  cursor: pointer;
}

@media (max-width: 468px) {
  .container-main {
    width: 100%;
  }
  header {
    justify-content: center;
    gap: 20px;
  }
  .filter,.table {
    margin-left: 40px;
  }
  .container-table {
    overflow-x: scroll;
  }
  .right-side {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
}
