.container-main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #05ede3 0%, #645ffb 100%);
}

header {
  width: 100%;
  height: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .dindin {
  margin-left: 100px;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.profile-container h1 {
  color: #ffffff;
  text-align: center;
  font: 700 14px "Rubik", sans-serif;
  margin-right: 16px;
}

.main-content {
  width: 100%;
  height: calc(100%-224px);
  border-radius: 60px 60px 0px 0px;
  background: #fff;
}

.filter {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
}

.filter p {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-family: Lato;
  font-weight: 700;
}
