.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 611px;
  height: 700px;
}

.modal-content .title-close {
  display: flex;
  gap: 120px;
  align-items: center;
  margin-top: 25px;
}

.modal-content img {
  width: 26.58px;
  height: 26.382px;
}

.modal-content img:hover {
  cursor: pointer;
}

.modal-content .btns {
  margin-top: 50px;
  margin-bottom: 50px;
}

.modal-content form h3 {
  margin-bottom: 3px;
}

.modal-content form select {
  border-radius: 5px;
  border: 1px solid #555;
  background: #fff;
  width: 485px;
  height: 63.486px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.modal-content form input {
  border-radius: 5px;
  border: 1px solid #555;
  background: #fff;
  width: 485px;
  height: 63.486px;
}

.title-close h1 {
  color: #000;
  font-size: 36px;
  font-family: Rubik;
  font-weight: 700;
}

.btn-confirm {
  width: 236px;
  height: 42px;
  align-self: center;
  border-radius: 5px;
  background-color: #7978d9;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 700;
  border: none;
}

.btns {
  display: flex;
}

.btn-gray {
  width: 244.5px;
  height: 56px;
  background-color: #b9b9b9;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 700;
}

.btn-blue {
  width: 244.5px;
  height: 56px;
  background-color: #3a9ff1;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 700;
}

.btn-red {
  width: 244.5px;
  height: 56px;
  background-color: #ff576b;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 700;
}

@media (max-width: 468px) {
  .modal-content {
    width: 100%;
    padding: 10px;
  }

  .modal-content form {
    width: 100%;
  }

  .modal-content form input {
    width: 100%;
    height: 50px;
  }

  .modal-content form select {
    width: 100%;
    height: 50px;
  }

  .btn-confirm {
    margin-top: 10px;
  }
}
