@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Rubik:wght@400;500;700&display=swap");
.sign-up-container {
  width: 513px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background: #ffffff;
}

.btn-signup {
  width: 449px;
  height: 53px;
  border-radius: 5px;
  background: #7978d9;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 700;
  border: none;
}

.sign-up-container h1 {
  color: #7978d9;
  font: 500 28px "Rubik", sans-serif;
}

form p {
  margin-top: 5px;
  align-self: center;
  color: #7b61ff;
  text-align: center;
  font: 700 14px "Lato", sans-serif;
}

form p:hover {
  cursor: pointer;
}
